.lateral-navbar {
  width: 117px;
  min-height: 100%;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 50px;
}

.lateral-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 316px;
}

.copyright {
  transform: rotate(270deg);
  width: 138px;
  font-size: 12px;
  margin-bottom: 45px;
}

@media screen and (max-height: 760px) {
  .lateral-navbar {
    padding-top: 10%;
  }
  .lateral-logo-container {
    transform: scale(0.8);
  }
}